[submodule "SoLin/vendor/spdlog"]
	path = SoLin/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "SoLin/vendor/GLFW"]
	path = SoLin/vendor/GLFW
	url = https://github.com/XoSoLin/glfw.git
[submodule "SoLin/vendor/imgui"]
	path = SoLin/vendor/imgui
	url = https://github.com/XoSoLin/imgui.git
[submodule "SoLin/vendor/glm"]
	path = SoLin/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "SoLin/vendor/yaml-cpp"]
	path = SoLin/vendor/yaml-cpp
	url = https://github.com/XoSoLin/yaml_cpp.git
[submodule "SoLin/vendor/ImGuizmo"]
	path = SoLin/vendor/ImGuizmo
	url = https://github.com/XoSoLin/ImGuizmo.git
