[submodule "SoLin/vendor/spdlog"]
	path = SoLin/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "SoLin/vendor/GLFW"]
	path = SoLin/vendor/GLFW
	url = https://github.com/XoSoLin/glfw.git
